/*Start quiz*/

*{
    box-sizing: border-box;
}
main {
    background-size: cover;
}
body {
    background-color:black;
    min-width: 320;
    max-width: 1600px;
}

h1,header { 
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    height:100px;
}

body ul {
    text-align: center;
}
body li {
    color: greenyellow;
    display: inline-block;
    list-style: none;
}
