/*Start quiz*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
}

body {
    font-family: 'Source Code Pro', monospace; 
    background-color:black;
    min-width: 320px;
    max-width: 4000px;
    display: block;
}

header { 
    display: block;
    color: greenyellow;
    font-size: 5vw;
    text-align: center;
    height:auto;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
}

.biggerSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
    background: url(quiz-pics/matrix-live-code.gif);
    border: 0.1em yellowgreen solid;
    padding: 20px;
    margin: 0 20% 0; 
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    padding: 1em;
    border: 0.1em yellowgreen solid;
    background-color: black;
    color: yellowgreen;
}

fieldset{
   background-color: black;
   color: yellowgreen; 
   display: flex;
   border: 0
}
 
.images {
    margin-bottom: 0.5em;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 310px;
}

body ul {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-bottom: 10px;
    font-display: flex;
    font-size: 3vw;
}
body li {
    color: greenyellow;
    display: inline-block;
    list-style: none;
}
.response{
    display: flex;
    color: yellowgreen;
}
.button {
    display: flex;
    height: 2.1em;
    cursor: pointer;
    text-transform: uppercase;
    border: 0.5px solid yellowgreen;
    background-color: black;
    color: yellowgreen;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5vw;
    max-height: 30px;
    padding: 0 5px 0px;
    margin: 5px 0 0;
}

.sentence {
    text-align: left;
}
.final .sizeMe {
    text-align: center;
}

.finalImages {
    margin-bottom: 0.5em;
    width: 100%;
    height: auto;
    max-width: 230px;
    max-height: 260px;
}
/* .label.sentence {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radioGroup label{
  display: inline-block;
  text-align: center;
  margin: 0 0.2em;
} */

.button:hover, .button:active{
    background-color: yellowgreen;
    color: black;
    border: 0.1em yellowgreen;
}
.hide {
    display: none;
}
.showBlock {
    display: block;
}
.showFlex {
    display: flex;
}

/* phone screen */
@media screen and (min-width: 300px) {
    .container {
        display:block;

    }
    .biggerSquare {
        display: flex; 
    }
    .questionText, .sentence {
        margin: 0 0 15px;
        font-size: 4vw;
    }
}  
    
/*tablet screen*/
@media screen and (min-width: 500px) {
    
    .container {
        display:block;

    }
    
    .biggerSquare {
        display: flex;
    }
    .questionText, .sentence {
        margin: 0 0 10px;
        font-size: 2.5vw;
    }
}
/*desktop screen*/
@media screen and (min-width: 900px) {
    .container {
        display: block;
    }
   
    .biggerSquare {
        display:flex;

    }
    .button {
        font-size: 15px;
    } 
    .questionText, .sentence {
        margin: 0 0 10px;
        font-size: 2vw;
    }
}